<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
   <%- include('./partials/nav.ejs')%>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint reiciendis quod delectus natus, enim incidunt, repellat porro animi eaque accusantium odio voluptates eos sunt quas dolorum eligendi nulla doloremque ipsa odit, perferendis deserunt voluptas impedit. Cumque molestias quam nesciunt ab officiis animi alias natus est, itaque beatae, enim pariatur nisi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis rem pariatur asperiores repellat voluptas id illo perferendis, error corrupti odit odio eum debitis soluta voluptatum ducimus! Itaque ullam iusto rem fuga repellendus adipisci aperiam nam delectus possimus perspiciatis tempora, dicta, nobis debitis, ea quibusdam! Facere laudantium necessitatibus alias commodi unde?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sed error temporibus non magnam officiis. Dolore vel quo ex soluta unde repellendus? Labore aperiam ipsum, neque eligendi provident quibusdam a veritatis eius deleniti voluptatum earum eum at illo repellendus explicabo, non velit iure fugiat? Explicabo reprehenderit laborum suscipit quos nemo!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptate dolorum quos ipsam tenetur unde ad culpa sunt laboriosam? Ipsam dolores assumenda quas nemo necessitatibus temporibus aut repudiandae, possimus unde eligendi labore voluptate earum voluptatem, molestias non rerum est laudantium illo hic ipsum eum dolorum? Sint porro nobis veniam quam.</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>